@model EMPLOYEDIR.Models.Employe

@using(Html.BeginForm())
{
    <input type= "text" id="b1" asp-for="EMPID"/>
    <br />
    <br />
    <div class="form-group">
        <input type="submit" value="Show" class="btn btn-primary" />
    </div>
}

